<h1 class='list-title'><%= "#{@user.name}'s todo list."%></h1>
<div class='row'>
  <div class='col-md-4 pull-right'>
    <h3>Blocitoff</h3>
    <ul>
        <li>Blocitoff will delete to-do items that have not been completed after seven days</li>
    </ul>
  </div>